#footer {
  margin-top: 3em;
  padding: 1em;
  height: 100px;
  background: #0099cc;
    background: linear-gradient(to bottom, #00a3cc, #afe7f0);
  text-align: center;
}

#copy-right {
  color: white;
  font-size: 1em;
}

#facebook-img {
  width: 50px;
}

#instagram-img {
  width: 50px;
}

#youtube-img {
  width: 50px;
}

ul {
  text-align: center;
  margin-top: -10px;
}

ul img {
    margin-left: 10px;
}